---
import Layout from "../layouts/Layout.astro";
import Particles from "../components/Particles.astro";
import Welcome from "../components/Welcome.astro";
import Services from "../components/Services.astro";
import Projects from "../components/Projects.astro";
import People from "../components/People.astro";
import Navigation from "../components/Navigation.astro";
---

<Layout>
  <main class="h-screen snap-y snap-mandatory overflow-y-scroll">
	<Particles />
    <section id="welcome" class="h-screen snap-start">
      <div class="flex min-h-screen items-center justify-center px-4">
        <Welcome />
      </div>
    </section>
    <section id="services" class="h-screen snap-start">
      <div class="flex min-h-screen items-center justify-center px-4 py-24">
        <Services />
      </div>
    </section>
    <section id="projects" class="min-h-screen snap-start">
      <div class="flex min-h-screen items-center justify-center px-4 py-16">
        <Projects />
      </div>
    </section>
    <section id="people" class="min-h-screen snap-start">
      <div class="flex min-h-screen items-center justify-center px-4 py-16">
        <People />
	  </div>
    </section>
    <section id="contact" class="h-screen snap-start">
      <div class="flex min-h-screen items-center justify-center px-4">
        <h1>Contact</h1>
	  </div>
    </section>
  </main>
</Layout>
