<script>
  import { tsParticles } from "@tsparticles/engine";
  import { loadSlim } from "@tsparticles/slim";
  import tsconfig from "../assets/tsparticles.json";

  const initParticles = async () => {
    await loadSlim(tsParticles);
    await tsParticles.load({
      id: "particles",
      options: tsconfig,
    });
  };

  try {
    await Promise.all([initParticles()]);
  } catch (error) {
    console.warn("Client initialisation failed", error);
  }
</script>

<style>
  #particles {
    position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    z-index: -1;
  }
</style>

<div id="particles"></div>
