<script>
  import GlitchedWriter from "glitched-writer";

  const initGlitchedWriter = async () => {
    const GWParams = "encrypted";

    await Promise.all([
      new GlitchedWriter("#ural", GWParams).write("ural"),
      new GlitchedWriter("#cillary", GWParams).write("cillary"),
      new GlitchedWriter("#stems", GWParams).write("stems"),
    ]);
  };

  try {
    await Promise.all([initGlitchedWriter()]);
  } catch (error) {
    console.warn("Client initialisation failed", error);
  }
</script>

<style>
  body {
    color: white;
    background-color: black;
    margin: 0;
  }

  .logo {
    color: gray;
    display: block;
    font-family: "Major Mono Display", monospace;
    font-size: 3rem;
    line-height: 1;
    text-decoration: none;
    z-index: 2;
  }

  .logo em {
    color: white;
    font-style: normal;
  }
</style>

<div class="logo">
	<div><em>NE</em><span id="ural"></span></div>
	<div><em>AN</em><span id="cillary"></span></div>
	<div><em>SY</em><span id="stems"></span></div>
</div>
