<script>
  import GlitchedWriter from "glitched-writer";

  const initGlitchedWriter = async () => {
    const GWParams = "encrypted";

    await Promise.all([
      new GlitchedWriter("#ural", GWParams).write("ural"),
      new GlitchedWriter("#cillary", GWParams).write("cillary"),
      new GlitchedWriter("#stems", GWParams).write("stems"),
    ]);
  };

  try {
    await Promise.all([initGlitchedWriter()]);
  } catch (error) {
    console.warn("Client initialisation failed", error);
  }
</script>

<div class="relative z-[2] block font-['Major_Mono_Display',monospace] text-5xl leading-none text-white/60 no-underline">
	<div><em class="text-white not-italic">NE</em><span id="ural"></span></div>
	<div><em class="text-white not-italic">AN</em><span id="cillary"></span></div>
	<div><em class="text-white not-italic">SY</em><span id="stems"></span></div>
</div>
